<div class="container" id="dashboard">
  <h1>Fragebögen</h1>

  <div class="card text-center">
    <div class="card-header">
      Unterlage zur Selbsteinschätzung v6
    </div>
    <div class="card-body">
      <h5 class="card-title">Selbsttest der Eignung für IT-Ausbildungsberufe</h5>
      <p class="card-text">Themen: Struktogramme, Grundlagen der Programmierlogik, Syntax</p>
      <a href="/v6" class="btn btn-primary">Zum Test</a>
    </div>
    <div class="card-footer text-muted">
      Teilnehmer: x
    </div>
  </div>
  <p class="text-center">TODO: Auslagern in MongoDB, weitere Ebene der Skalierbarkeit: Fragebögen</p>
</div>